#map_google {
  width: 40%;
  height: calc(100% - 15px);
}

#map {
  grid-area: map;
  width: 100%;
  height: calc(100% - 15px);
  position: relative;
  .myDivIcon{}
  .leaflet-marker-pane{
    z-index:999
  }
}

.fa-star{
  font-size: 24px;
  color: #B38E37;
}

#legend-star{
  font-size: 16px;
  margin: 4px 8px;
}

.tooltipClass{
  background-color: #1574C7 !important;
  color: #ffffff !important;
  border: 2px solid !important;
  border-color: #1574C7 !important;
  font-weight: bold;
}

#legend-square{
  font-size: 16px;
  margin: 4px 8px;
  color: #A5A5A5;
  opacity: 0.3;
}
.legend {
  position: relative; padding: 8px;
  z-index: 999;
  bottom: -448px; left: 10px;
  font-family: Helvetica, Arial, Sans-Serif;
  background: white; border-radius: 4px;
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.1);
  width: 30%;
}
.legend > div { display: flex; align-items: center; }

.leaflet-touch .leaflet-bar{
  display: none;
}

#map_box {
  position: absolute;
  bottom: 80px;
  left: 10px;
  width: 220px;
  background: #ffffff;
  z-index: 1000;
  padding: 8px 24px;
}

.hide{
  display: none;
}

#attribution {
  width: 100%; height: 15px;
  background-color: #04343f;
  display: flex;
  justify-content: end;
  align-items: center;
}
#attribution > a {
  font-size: 9px;
  padding-right: 5px;
  color: #ffffffa8;
  text-decoration: none;
}
#map_hide {
  width: 0%;
  height: 0%;
}
#chart {
  width: 60%;
  height: 100%;
  position: relative;
  border-right: 1px solid #ddd;
}