#sold_values{
  width: 80%;
  height: 100%;
  margin: auto;
  grid-area: table;
  align-self: start;
  justify-self: center;
}

tr{
  height:30px;
  border-bottom:rgba(0,0,0,.05) 1px solid;
  text-align: center;
}

th{
  height:30px;
  font-size:11pt;
  border:0px solid;
  text-align: center;
}

#increase{
  text-align: center;
  border-bottom: 3px solid;
}

.sub_header{
  border-bottom: 1px solid
}

#value_table{
  width:80%;
}

td{    
  box-sizing:border-box;
  font-size:11pt;
  min-width: 100px;
}
.outcode{
  width: 120px;
  text-align: left;
  padding-left: 10px;
}

.adjacent:nth-of-type(5n){
  border-right: 3px dotted;
  border-color:  #B38E37;
} 

.adjacent:nth-of-type(5n+1){
  border-left: 3px dotted;
  border-color:  #B38E37;
} 

.first-row{
  border-top: 3px dotted ;
  border-color:  #B38E37;
} 

.last-row{
  border-bottom: 3px dotted;
  border-color:  #B38E37;
} 